@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add this to your global styles or in a separate CSS file */

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideUp {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(0);
  }
}

.animate-slide-left {
  animation: slideLeft 1s ease-in-out;
}

.animate-slide-right {
  animation: slideRight 1s ease-in-out;
}

.animate-slide-up {
  animation: slideUp 1s ease-in-out;
}

.animate-slide-down {
  animation: slideDown 1s ease-in-out;
}

@keyframes run {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.running-swiper {
  animation: run 20s linear infinite; /* Adjust the duration as needed */
}





